<div class="card flex">
  <p class="ml-2 pt-0 mt-2 font-bold text-xl">Block Hostels</p>
  <p-tabView>
    <ng-container *ngFor="let location of locations">
      <p-tabPanel [header]="location.name">
        <div *ngFor="let hostel of location.hostels">
          <h4>{{ hostel.name }}</h4>
          <div *ngFor="let building of hostel.buildings">
            <h5>{{ building.name }}</h5>

            <div class="flex flex-column" *ngFor="let room of building.rooms">
              <p-button class="mr-3" label="" (click)="showDialog(room)" [outlined]="true" [text]="true" [raised]="true"
                [plain]="true">

                <!-- <div *ngFor="let room of building.rooms"> -->
                <div class="flex-row">
                  <p class="font-bold">Room No: {{ room.number }}</p>
                  <p class="text-sm">Capacity: {{ room.capacity }}</p>
                </div>
              </p-button>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </ng-container>
  </p-tabView>
</div>

<div class="card flex justify-content-center">
  <p-dialog header="Confirm blocking hostel room" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <p class="m-0">
     Room No. {{ selectedRoom?.number }}
    </p>
  </p-dialog>
</div>