<div class="container" [class.dim-overlay]="visible">
  <p-card header="Approve Allowances">
    <ng-container *ngFor="let allowance of allowances">
      <p-accordion class="w-full">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <span class="flex align-items-center gap-2 w-full">
              <h3>{{ allowance.name }}</h3>
              <p-chip [label]="'Total Participants: ' + allowance.participants.length"></p-chip>
              <!-- Calculate total payment -->
              <p-chip label="Total Payment : LKR {{ getTotalPayment(allowance) }}"></p-chip>
              <p-button label="Approve" icon="pi pi-send" size="small" class="ml-auto"
                (click)="showApproveDialog(allowance)"></p-button>
            </span>
          </ng-template>

          <!-- Table -->
          <p-table #dt1 styleClass="p-datatable-striped" [value]="allowance.participants"
            [tableStyle]="{ 'min-width': '50rem', 'margin': 0 }" [paginator]="true" [rows]="5"
            [globalFilterFields]="['fullName']">
            <ng-template pTemplate="caption">
              <div class="flex justify-content-between">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value || '', 'contains')"
                    placeholder="Search keyword" />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 4rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Name</th>
                <th>Job Role</th>
                <th>Date joined</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Allowance</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-participant>
              <tr>
                <td>
                  <p-tableCheckbox [value]="participant"></p-tableCheckbox>
                </td>
                <td>{{ participant.fullName }}</td>
                <td>{{ participant.jobRole }}</td>
                <td>{{ participant.date_joined }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.contact_number }}</td>
                <td>{{ participant.allowance }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
      </p-accordion>
    </ng-container>
  </p-card>

  <!-- Dialog -->
  <p-dialog header="Header" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '40vw' }"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
      <div class="flex flex-column">
        <span class="font-bold white-space-nowrap" style="font-size: x-large;">Confirm Participant List</span>
        <span class="font-semibold white-space-nowrap">{{ allowaceDetails?.name }}</span>
      </div>
    </ng-template>
    <label for="comments">Enter Comments:</label><br>
    <textarea rows="5" class="w-full" pInputTextarea [(ngModel)]="value"></textarea>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="submitFormData(allowaceDetails?.id ?? '')" label="Confirm" pAutoFocus
        [autofocus]="true" size="small"></p-button>
    </ng-template>
  </p-dialog>
</div>
