<p-card header="{{program.name}}">
  <div class="flex justify-content-between mb-3">
    <div class="flex-row">
      <div class="font-semibold" style="font-size: 1.1rem">Coordinated by :</div>
      <div class="flex flex-row align-items-center justify-content-center mt-2">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2"
          size="large" shape="circle"></p-avatar>
        <span class="font-medium">{{program.project_manager}}</span>
      </div>
    </div>
    <div clasrtinf Dates="flex flex-column">
      <div class="font-medium">Starting Date : {{program.sDate}}</div>
      <div class="font-medium my-2">Ending Date : {{program.eDate}}</div>
      <div class="flex flex-row align-items-center">
        <span class="font-medium">Seating<br />Capacity</span>
        <div class="p-2 ml-3 capacity">{{program.seating_capacity}}</div>
      </div>
    </div>
  </div>

  <!-- data table -->
  <p-table #dt1 styleClass="p-datatable-striped" [value]="participants" [tableStyle]="{ 'min-width': '50rem', 'margin': 0 }"
    [paginator]="true" [rows]="5" [globalFilterFields]="['name', 'role', 'email', 'contact_no']">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between align-items-end">
        <div class="flex flex-column">
            <span style="font-size: 1.2rem">Participant List</span>
            <span class="p-input-icon-left mt-2">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value || '', 'contains')"
                  placeholder="Search keyword" />
              </span>
        </div>
        <p-button label="Send Confirmation" class="button" size="small"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="name">Job Role<p-sortIcon field="role"></p-sortIcon></th>
        <th pSortableColumn="joined_date">Joined Date<p-sortIcon field="joined_date"></p-sortIcon></th>
        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
        <th>Contact_No.</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-participant>
      <tr>
        <td>
          <p-tableCheckbox [value]="participant"></p-tableCheckbox>
        </td>
        <td>{{ participant.name }}</td>
        <td>{{ participant.role }}</td>
        <td>{{ participant.joined_date | date: 'yyyy-MM-dd' }}</td>
        <td>{{ participant.email }}</td>
        <td>{{ participant.contact_no }}</td>
        <td>
            <p-button class="mr-1" icon="pi pi-check" [rounded]="true" size="small"></p-button>
            <p-button icon="pi pi-times" [rounded]="true" severity="danger" size="small"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
