<p-card header="My Profile">
  <div class="border mb-3 p-3 flex flex-row">
    <div class="flex flex-row gap-4 align-items-center">
      <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250"
        [preview]="true"></p-image>
      <div class="flex flex-column">
        <span class="font-semibold">{{user.fullName}}</span>
        <span>{{user.role}}</span>
      </div>
    </div>
    <p-button size="small" [rounded]="true" [outlined]="true" severity="secondary" icon="pi pi-pencil" label="Edit"
      class="ml-auto"></p-button>
  </div>

  <div class="border flex flex-column gap-2 p-3">
    <div class="flex flex-row">
      <h3>Personal Information</h3>
      <p-button size="small" [rounded]="true" [outlined]="true" severity="secondary" icon="pi pi-pencil" label="Edit"
        class="ml-auto"></p-button>
    </div>
    <div class="flex flex-column mb-2">
      <label>EPF No. :</label>
      <span class="font-semibold">{{id}}</span>
    </div>
    <div class="flex flex-column mb-2">
      <label>Name :</label>
      <span class="font-semibold">{{user.fullName}}</span>
    </div>
    <div class="flex flex-column mb-2">
      <label>Email :</label>
      <span class="font-semibold">{{user.email}}</span>
    </div>
    <div class="flex flex-column mb-2">
      <label>Telephone No. :</label>
      <span class="font-semibold">0764444444</span>
    </div>
    <div class="flex flex-column mb-2">
      <label>Role :</label>
      <span class="font-semibold">{{user.role}}</span>
    </div>
  </div>
</p-card>
