<div class="card">
    <p-tabView>
    <p-tabPanel header="Piliyandala">
        <ng-template pTemplate="content"><app-content [centre]="'Piliyandala'"></app-content></ng-template>
    </p-tabPanel>
    <p-tabPanel header="Castlereigh">
        <ng-template pTemplate="content"><app-content [centre]="'Castlereigh'"></app-content></ng-template>
    </p-tabPanel>
    <p-tabPanel header="Kalawana">
        <ng-template pTemplate="content"><app-content [centre]="'Kalawana'"></app-content></ng-template>
    </p-tabPanel>
    <p-tabPanel header="Kinchigune">
        <ng-template pTemplate="content"><app-content [centre]="'Kinchigune'"></app-content></ng-template>
    </p-tabPanel>
    </p-tabView>
</div>